# PYTHON

#print Function

In [ ]:
print("Today I am learning python")

Today I am learning python

In [ ]:
a="Shivani"
b="Dashore"
c="I am a Data Analyst"
print("My name is ",a,b, c)

My name is  Shivani Dashore I am a Data Analyst

In [ ]:
print("Shivani has done Python PowerBi Data visualization SQL","And I very excited to become a DA",sep='-')

Shivani has done Python PowerBi Data visualization SQL-And I very excited to become a DA

In [ ]:
print("shivani",end=' ')
print("dashore")

shivani dashore

# Variables in python

In [ ]:
a=3
print('This is an integer value',a)
b=10.3
print('This is a float value',b)
c=True
print('This is a boolean value',c)
d='Shivani'
print(d)

This is an integer value 3
This is a float value 10.3
This is a boolean value True
Shivani

In [ ]:
a,b=7,4.5
print(a,b)

7 4.5

In [ ]:
a,b,c=2,3.4
print(a,b,c)

ValueError: ignored

In [ ]:
a,b="Shivani",2,4.5

ValueError: ignored

In [ ]:
a=4
b=4.5
c=a*b
print(c)

18.0

In [ ]:
a="shivani"
b="suraj"
print(a+" "+b)

shivani suraj

In [ ]:
a=2
b="Shivani"
print(a+b)

TypeError: ignored

In [ ]:
a="2"
b="shivani"
c="7"
print(a+" "+b+" "+c)

2 shivani 7

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

# USER INPUT

In [1]:
a=input("Enter your name: ")
b=input("Enter your surname: ")
print(a,"",b)

Enter your nameyash
Enter your surnamedashore
yash   dashore

In [2]:
a=input("Enter a number: ")
b=input("Enter a number: ")
print(a+b)

Enter your name: 5
Enter your surname: 2
52

# TYPE CONVERSION IN PYTHON
* Implicit -- In implicit type conversion of datatype in python ,the python interpreter automatically convert one datatype to other datatype without any user involvement

In [4]:
x=10
print("x is a type :",type(x))

y=10.7
print("y is a type :",type(y))

result=x+y
print(result)
print(type(result))

x is a type : <class 'int'>
y is a type : <class 'float'>
20.7
<class 'float'>

* Explicit -- In explicit type conversion of datatype in python ,the datatype is manually change by the user as per their requirement.

In [6]:
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
print(a+b)

Enter a number: 3
Enter a number: 2
5

In [8]:
a=5
b=str(a) #explicit conversion
print(b)
print(type(a))
print(type(b))

5
<class 'int'>
<class 'str'>

In [9]:
a=5.4
b=str(a) #explicit conversion
print(b)
print(type(a))
print(type(b))

5.4
<class 'float'>
<class 'str'>

In [10]:
a="Shivi"
b=int(a) #explicit conversion
print(b)
print(type(a))
print(type(b))

ValueError: ignored

In [11]:
a="10"
b=int(a) #explicit conversion
print(b)
print(type(a))
print(type(b))

10
<class 'str'>
<class 'int'>

In [12]:
a='52'
b=int(a)
print(type(a),type(b))

<class 'str'> <class 'int'>

# Operators in Python

* Arithmetic operator -- +, -, *,/,%
* Relational operator -- <,>,<=,>=,!=
* Logical operator    -- AND,OR,NOT
* Bitwise operator    -- &,|,^
* Assignment operator -- =
* Membership operator -- IN,NOT IN

In [14]:
a=1+2*3/4.0
print(a)

2.5

1. (),[],-left to right ,
2. *,/,% -left to right,
3. +,- -- left to right,
4. <,>,<=,>= -- left to right
5. ==,!= -- left to right
6. & -- left to right
7. ^ -- left to right
8. | -- left to right
9. && -- left to right
10. +=,-=,*=,= -right to left
11. ,

In [16]:
b=5/2+3*2/4*(1+2/(6-4))
print(b)

5.5

In [ ]:
(1+2/2)
2

In [ ]:
b=5/2+3*2/4*2
2.5+6/4*2
2.5+1.5*2
2.5+3.0
5.5

In [ ]:
b=5/2+3*2/4*2
2.5+6/(4*2)
2.5+6/8
2.5+0.75
3.25

In [17]:
c=3*2+(10-4*2)/2-1*3*2/2+(2-1)
print(c)

5.0

In [ ]:
c=3*2+(10-4*2)/2-1*3*2/2+(2-1)
3*2+2/2-1*3*2/2+1
6+1-3+1
4+1
5

# Relational Operators

In [19]:
a=10
b=5
print(a<=b)
print(a>=b)
print(b<=a)
print(b>=a)
print(a<b)
print(a>b)
print(b<a)
print(b>a)

False
True
True
False
False
True
True
False

# Logical Operator

In [22]:
print(5<2 and 2>1)

False

In [23]:
print(5>2 and 2>1)

True

In [24]:
print(5<2 or 2>1)

True

In [25]:
print(5>2 or 2>1)

True

In [27]:
print(not(5<2 or 2>1))

False

# Bitwise operator

In [28]:
print(2 & 3)

2

In [29]:
print(5|7)

7

In [30]:
print(5^1)

4

# Assignment Operator

In [32]:
a=2
a+=5
print(a)

7

# Membership Operator

In [34]:
print("D" not in "Delhi" )

False

In [35]:
print("s" in "Shivani")

False

# Questions

In [36]:
print(5>9 or (1<2 or 6>4 and 5>8))

True

In [41]:
print(1<2 or 6>4 and 5>8)

True

In [42]:
print(6<4 and(1>5 or(5>2 and 6>4 or (1>5))))

False

In [43]:
print(True or 1 and (0 or True or (False)))

True